.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

}
.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  font-weight: 500;
  border-bottom:2px solid #F8B179 ;
  padding: 10px;
  margin: 5px;
}
.control:hover{
  background-color: #F8B179;
  color: #676F9D;
  border-radius: 3px;
}